/* Fonts */
$main_font : "FiraSans" ;
$regular : "Regular" ;
$light : "Light";
$medium : "Medium";
$bold : "Bold";
$i : "Italic";


/* Colors */
$mainColor : #8cc34b;
$extraColor	: #f6f6f6;
$baseColor: #fff;
$darkColor: #212121;


/* Size */

$headerHeight : 90px;
$footerHeight : 72px;