.content{
	min-height: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 200px;
}

.content-wrap{
	width: 960px;
	margin: 0 auto;
}

.content-bgi{
	background-image: url("../img/gplaypattern.png");
	@extend .clear;
}