.courses{
	background-image: url("../img/gplaypattern.png");
	&__item{
		max-width: 33.33333%;
		float: left;
		@include line();
		&-body{
			padding: 20px;
		}
		&-img{
			width: 100%;
		}
		&-title{
			font-size: 21px;
		}
		&-text{}
	}
}