.footer{
	height: $footerHeight;
	//margin-top: -$footerHeight;
	width: 100%;
	display: block;
	background-color: $darkColor;
	color: $baseColor;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	padding: 20px;
	&__text{
		opacity: .5;
		text-align: center;
	}
}